<html>

<head>
    <style>

    </style>
</head>

<body>
    <h4 style="color: #157A6E; font-weight: bolder">Hi {{name}},</h4>
    <p>Thank you for contacting Quiz-Blog</p>

    <p>We will respond to you request, question or suggestion as soon as possible!</p>

    <p style="margin-bottom: 5px;">Regards!</p>
    <hr>

    <div style="margin-bottom: 10px;">
        <h4 style="color: #157A6E; font-weight: bolder; margin-bottom: 5px; margin-top: 0;">
            Quiz-Blog Rwanda
        </h4>
        <h5 style="color: #707070; font-weight: bolder; margin-bottom: 10px; margin-top: 0;">
            Quizzing & Blogging
        </h5>
        <h5 style="color: #050707; font-weight: bolder; margin-bottom: 5px; margin-top: 0">Kigali | Rwamagana, Rwanda
        </h5>
        <h6 style="color: #1f3fcf; font-weight: bolder; margin-bottom: 5px; margin-top: 0">
            <a href="https://www.linkedin.com/company/quiz-blog/" target="_blank" rel="noreferrer">LinkedIn</a> |
            <a href="https://www.facebook.com/QuizblogRw/" target="_blank" rel="noreferrer">Facebook</a> |
            <a href="https://twitter.com/QuizblogRw" target="_blank" rel="noreferrer">Twitter</a> |
            <a href="https://www.instagram.com/quizblogrw/" target="_blank" rel="noreferrer">Instagram</a> |
            <a href="https://www.quizblog.rw/" target="_blank" rel="noreferrer">Website</a> | <a
                href="https://api.whatsapp.com/send?phone=250780579067" target="_blank" rel="noreferrer">0780579067</a>
        </h6>
        <hr>
    </div>
</body>

</html>