<html>

<head>
    <style>

    </style>
</head>

<body>
    <h3 style="color: #157A6E; font-weight: bolder">Hi {{name}}, The following is your OTP:</h3>

    <h1
        style="color: #ffc107; font-weight: bolder; text-align: center; border: 1px solid #ffc107; padding: 10px; border-radius: 5px; margin: 10px 0; background-color: #050707; font-size: 20px;">
        {{otp}}
    </h1>
    <p>Please do not share this OTP with anyone</p>
    <p>This OTP will expire in 15 minutes</p>
    <p>If you did not request this OTP, please ignore this email</p>

    <ul><a href="https://www.quizblog.rw/about">Read more here</a></ul>
    <ul><a href="https://www.quizblog.rw/blog">Check out our blog also</a></ul>

    <p style="margin-bottom: 5px;">Cheers!</p>
    <hr>

    <div style="margin-bottom: 10px;">
        <h4 style="color: #157A6E; font-weight: bolder; margin-bottom: 5px; margin-top: 0">
            Quiz-Blog Rwanda</h4>
        <h5 style="color: #707070; font-weight: bolder; margin-bottom: 10px; margin-top: 0">Quizzing & Blogging
        </h5>
        <h5 style="color: #050707; font-weight: bolder; margin-bottom: 5px; margin-top: 0">Kigali | Rwamagana, Rwanda
        </h5>
        <h6 style="color: #1f3fcf; font-weight: bolder; margin-bottom: 5px; margin-top: 0">
            <a href="https://www.linkedin.com/company/quiz-blog/" target="_blank" rel="noopener noreferrer">LinkedIn</a>
            |
            <a href="https://www.facebook.com/QuizblogRw/" target="_blank" rel="noopener noreferrer">Facebook</a> |
            <a href="https://twitter.com/QuizblogRw" target="_blank" rel="noopener noreferrer">Twitter</a>|
            <a href="https://www.instagram.com/quizblogrw/" target="_blank" rel="noopener noreferrer">Instagram</a> |
            <a href="https://www.quizblog.rw/" target="_blank" rel="noopener noreferrer">Website</a> | <a
                href="https://api.whatsapp.com/send?phone=250780579067" target="_blank"
                rel="noopener noreferrer">0780579067</a>
        </h6>
        <hr>
    </div>
</body>

</html>